<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package
    Name="OcrFlow"
    Manufacturer="OcrFlow"
    Version="$(var.ProductVersion)"
    UpgradeCode="147e6466-4950-481b-a068-61dfec15ffad"
    Language="1033">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of OcrFlow is already installed." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="OcrFlow" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="OcrFlow" Level="1">
      <ComponentGroupRef Id="PublishFiles" />
      <ComponentRef Id="PathEnvironmentVariable" />
    </Feature>

  </Package>

  <!-- Dodaj katalog instalacji do PATH użytkownika -->
  <Fragment>
    <Component Id="PathEnvironmentVariable" Guid="a1b2c3d4-5678-90ab-cdef-123456789abc" Directory="INSTALLDIR">
      <Environment
        Id="PATH"
        Name="PATH"
        Value="[INSTALLDIR]"
        Permanent="no"
        Part="last"
        Action="set"
        System="no" />
    </Component>
  </Fragment>
  
</Wix>