<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="Dir_de" Name="de">
      </Directory>
      <Directory Id="Dir_dict" Name="dict">
      </Directory>
      <Directory Id="Dir_es" Name="es">
      </Directory>
      <Directory Id="Dir_fonts" Name="fonts">
      </Directory>
      <Directory Id="Dir_fr" Name="fr">
      </Directory>
      <Directory Id="Dir_it" Name="it">
      </Directory>
      <Directory Id="Dir_ja" Name="ja">
      </Directory>
      <Directory Id="Dir_ko" Name="ko">
      </Directory>
      <Directory Id="Dir_pt" Name="pt">
      </Directory>
      <Directory Id="Dir_ru" Name="ru">
      </Directory>
      <Directory Id="Dir_sv" Name="sv">
      </Directory>
      <Directory Id="Dir_tessdata" Name="tessdata">
      </Directory>
      <Directory Id="Dir_x64" Name="x64">
      </Directory>
      <Directory Id="Dir_x86" Name="x86">
      </Directory>
      <Directory Id="Dir_zh_Hans" Name="zh-Hans">
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="PublishFiles">
      <Component Id="Comp_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Guid="ae465734-d73c-418b-a69d-298b806c3756" Directory="INSTALLDIR">
        <File Id="File_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Source="$(var.PublishDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="Comp_Microsoft_Extensions_Logging_Abstractions_dll" Guid="9e315b5a-7ab0-41ab-ac33-2e70b6be13bf" Directory="INSTALLDIR">
        <File Id="File_Microsoft_Extensions_Logging_Abstractions_dll" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="Comp_OcrFlow_Core_dll" Guid="a1960b22-2a89-4498-b761-01a6494578ee" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_Core_dll" Source="$(var.PublishDir)\OcrFlow.Core.dll" />
      </Component>
      <Component Id="Comp_OcrFlow_deps_json" Guid="9d30a732-ec4b-4761-80b5-5d96e9edb2ab" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_deps_json" Source="$(var.PublishDir)\OcrFlow.deps.json" />
      </Component>
      <Component Id="Comp_OcrFlow_dll" Guid="e6858be7-2a15-4b9c-b37d-8bb8f0acd021" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_dll" Source="$(var.PublishDir)\OcrFlow.dll" />
      </Component>
      <Component Id="Comp_OcrFlow_exe" Guid="df7580e1-6dca-466c-9efa-724bdd8da365" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_exe" Source="$(var.PublishDir)\OcrFlow.exe" KeyPath="yes" />
      </Component>
      <Component Id="Comp_OcrFlow_Infrastructure_dll" Guid="755175a0-0123-44a8-9410-426219530740" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_Infrastructure_dll" Source="$(var.PublishDir)\OcrFlow.Infrastructure.dll" />
      </Component>
      <Component Id="Comp_OcrFlow_Resources_dll" Guid="81fb1ca5-6745-49bb-a8e3-cfe408b7d92c" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_Resources_dll" Source="$(var.PublishDir)\OcrFlow.Resources.dll" />
      </Component>
      <Component Id="Comp_OcrFlow_runtimeconfig_json" Guid="0deadaed-75bc-4757-962d-fd3e4b2ae643" Directory="INSTALLDIR">
        <File Id="File_OcrFlow_runtimeconfig_json" Source="$(var.PublishDir)\OcrFlow.runtimeconfig.json" />
      </Component>
      <Component Id="Comp_PdfSharp_BarCodes_dll" Guid="064d9cee-357c-4576-add4-a4ad1c5cf337" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_BarCodes_dll" Source="$(var.PublishDir)\PdfSharp.BarCodes.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_Charting_dll" Guid="ec7f8ca0-5e01-4e7e-b6a4-ad766ab2b5c9" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_Charting_dll" Source="$(var.PublishDir)\PdfSharp.Charting.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_Cryptography_dll" Guid="b057fb8e-ca2d-4a17-a459-5668eed78319" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_Cryptography_dll" Source="$(var.PublishDir)\PdfSharp.Cryptography.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_dll" Guid="7b7e1c24-1a35-401d-8ccd-52fd26ae4a9c" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_dll" Source="$(var.PublishDir)\PdfSharp.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_Quality_dll" Guid="ad09f5c9-b2cc-4317-80c6-ef50d029dda8" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_Quality_dll" Source="$(var.PublishDir)\PdfSharp.Quality.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_Shared_dll" Guid="979cf597-32a7-45a7-993e-0ada792bfe62" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_Shared_dll" Source="$(var.PublishDir)\PdfSharp.Shared.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_Snippets_dll" Guid="06ad281d-fca7-448b-9ac0-b665721cbf76" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_Snippets_dll" Source="$(var.PublishDir)\PdfSharp.Snippets.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_System_dll" Guid="1f1638d6-cc4e-49bb-8c5b-593b0830de79" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_System_dll" Source="$(var.PublishDir)\PdfSharp.System.dll" />
      </Component>
      <Component Id="Comp_PdfSharp_WPFonts_dll" Guid="5def8a87-a927-4499-b34c-a88b74087a4e" Directory="INSTALLDIR">
        <File Id="File_PdfSharp_WPFonts_dll" Source="$(var.PublishDir)\PdfSharp.WPFonts.dll" />
      </Component>
      <Component Id="Comp_SixLabors_ImageSharp_dll" Guid="81e59e89-5933-4b32-a434-587189c3f63e" Directory="INSTALLDIR">
        <File Id="File_SixLabors_ImageSharp_dll" Source="$(var.PublishDir)\SixLabors.ImageSharp.dll" />
      </Component>
      <Component Id="Comp_Spectre_Console_Cli_dll" Guid="abb747fe-90a1-4e77-8ed8-fde1be48125e" Directory="INSTALLDIR">
        <File Id="File_Spectre_Console_Cli_dll" Source="$(var.PublishDir)\Spectre.Console.Cli.dll" />
      </Component>
      <Component Id="Comp_Spectre_Console_dll" Guid="607b5055-0300-43f1-8e05-fa84f901f278" Directory="INSTALLDIR">
        <File Id="File_Spectre_Console_dll" Source="$(var.PublishDir)\Spectre.Console.dll" />
      </Component>
      <Component Id="Comp_SymSpell_dll" Guid="09c5685e-fa28-4f6b-9bda-ef8749c9dda8" Directory="INSTALLDIR">
        <File Id="File_SymSpell_dll" Source="$(var.PublishDir)\SymSpell.dll" />
      </Component>
      <Component Id="Comp_System_Security_Cryptography_Pkcs_dll" Guid="a4920e85-d04a-45b1-b92b-9d55aa20f8d5" Directory="INSTALLDIR">
        <File Id="File_System_Security_Cryptography_Pkcs_dll" Source="$(var.PublishDir)\System.Security.Cryptography.Pkcs.dll" />
      </Component>
      <Component Id="Comp_Tesseract_dll" Guid="a6f6990d-de22-4e5e-9c81-8615c3dad7f4" Directory="INSTALLDIR">
        <File Id="File_Tesseract_dll" Source="$(var.PublishDir)\Tesseract.dll" />
      </Component>
      <Component Id="Comp_de_Spectre_Console_Cli_resources_dll" Guid="0436b37c-37ef-423c-b121-b11b3cf9ceaf" Directory="Dir_de">
        <File Id="File_de_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\de\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_dict_dict_txt" Guid="7c54666c-16c8-46d7-a39a-26835a3f507d" Directory="Dir_dict">
        <File Id="File_dict_dict_txt" Source="$(var.PublishDir)\dict\dict.txt" />
      </Component>
      <Component Id="Comp_es_Spectre_Console_Cli_resources_dll" Guid="6abc9950-4df3-4e5b-baca-c7e8c2b07171" Directory="Dir_es">
        <File Id="File_es_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\es\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_fonts_DejaVuSans_ttf" Guid="1078b52a-de41-4033-bc8e-c4939fda69cf" Directory="Dir_fonts">
        <File Id="File_fonts_DejaVuSans_ttf" Source="$(var.PublishDir)\fonts\DejaVuSans.ttf" />
      </Component>
      <Component Id="Comp_fr_Spectre_Console_Cli_resources_dll" Guid="04cde8ab-2d55-4b31-b179-cc37033e4d36" Directory="Dir_fr">
        <File Id="File_fr_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\fr\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_it_Spectre_Console_Cli_resources_dll" Guid="8ce37ae1-f0cd-47eb-a6f7-59c192465236" Directory="Dir_it">
        <File Id="File_it_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\it\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_ja_Spectre_Console_Cli_resources_dll" Guid="a305c6bd-2e3a-48ac-b4fb-889540edeb14" Directory="Dir_ja">
        <File Id="File_ja_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\ja\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_ko_Spectre_Console_Cli_resources_dll" Guid="af58b9c1-8cc2-4b39-9567-13253a367edb" Directory="Dir_ko">
        <File Id="File_ko_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\ko\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_pt_Spectre_Console_Cli_resources_dll" Guid="493e6bb7-7f14-429d-b0e8-53d0f2b00d20" Directory="Dir_pt">
        <File Id="File_pt_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\pt\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_ru_Spectre_Console_Cli_resources_dll" Guid="b660d503-4628-47f5-b2e6-3fe6a0f358b4" Directory="Dir_ru">
        <File Id="File_ru_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\ru\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_sv_Spectre_Console_Cli_resources_dll" Guid="ce13758b-9797-40e7-9a5f-5bed00f9b5f0" Directory="Dir_sv">
        <File Id="File_sv_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\sv\Spectre.Console.Cli.resources.dll" />
      </Component>
      <Component Id="Comp_tessdata_pol_traineddata" Guid="b3bfe5c1-7687-4e12-8d58-babd79a6831d" Directory="Dir_tessdata">
        <File Id="File_tessdata_pol_traineddata" Source="$(var.PublishDir)\tessdata\pol.traineddata" />
      </Component>
      <Component Id="Comp_x64_leptonica_1_82_0_dll" Guid="ee9c538a-be22-4a9b-a2fb-8882ac3539d7" Directory="Dir_x64">
        <File Id="File_x64_leptonica_1_82_0_dll" Source="$(var.PublishDir)\x64\leptonica-1.82.0.dll" />
      </Component>
      <Component Id="Comp_x64_tesseract50_dll" Guid="bb26e125-8d0d-49e1-9a78-3f1964080e66" Directory="Dir_x64">
        <File Id="File_x64_tesseract50_dll" Source="$(var.PublishDir)\x64\tesseract50.dll" />
      </Component>
      <Component Id="Comp_x86_leptonica_1_82_0_dll" Guid="4b8bc371-2839-422c-a2a9-78820b46f8b9" Directory="Dir_x86">
        <File Id="File_x86_leptonica_1_82_0_dll" Source="$(var.PublishDir)\x86\leptonica-1.82.0.dll" />
      </Component>
      <Component Id="Comp_x86_tesseract50_dll" Guid="30d2d96b-f657-48c5-b2d0-ed5e73d399bb" Directory="Dir_x86">
        <File Id="File_x86_tesseract50_dll" Source="$(var.PublishDir)\x86\tesseract50.dll" />
      </Component>
      <Component Id="Comp_zh_Hans_Spectre_Console_Cli_resources_dll" Guid="f4f99164-e645-42e2-b402-8d94216a3815" Directory="Dir_zh_Hans">
        <File Id="File_zh_Hans_Spectre_Console_Cli_resources_dll" Source="$(var.PublishDir)\zh-Hans\Spectre.Console.Cli.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
